<h2><%= @project.name %></h2>
<p><%= @project.description %></p>
<%= render 'application/tickets', object: @tickets %>

<%= link_to 'Edit Project', edit_project_path(@project) %>
<%= link_to 'Delete Project', project_path(@project), method: 'delete' %>
<%= link_to 'Create Ticket', new_ticket_path %>