<!DOCTYPE html>
<html>
  <head>
    <title>TicketApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <span><strong>Ticketing</strong></span>
      <%= link_to 'Projects', projects_path %>
      <%= link_to 'Tickets', tickets_path %>
      <hr>
    </header>
    <%= yield %>
  </body>
</html>
